$white: #fff;
$gray-100: #fafafa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #9ba3aa;
$gray-600: #686868;
$gray-700: #474747;
$gray-800: #262b31;
$gray-900: #212529;
$black: #000;

$light-gray: #fffaff;
$gray: #dcdcdc;
$indigo: #3d02d1;
$purple: #4a1ea3;
$maroon: #b84163;
$orange: #e68831;
$teal: #01a48c;


$primary: $indigo;
$secondary: $gray;
$background: $light-gray;

// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-weight-normal: 400;
$headings-font-weight: 600;
